.button {
    display: inline-block;
    padding: var(--space-s) var(--space-m);
    border-radius: 5px;
    border: 2px solid var(--white);
    background-color: var(--black);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    color: var(--black);
    background-color: var(--orange);
}