// TODO: Desarrollar el CSS para los productos
.products {
    text-align: center;
}

#catalogo {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}

.producto {
    margin: 8%;
}

.buttons:hover {
    color: var(--black);
    background-color: var(--orange);
}

#catalogo img:hover {
    opacity: 0.7;
}

.load {
    text-align: center;
}